<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="utilities.AllureListener"/>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.bambooui.bamboo.Module6">
      <methods>
      <include name="TS06_TC01"></include></methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
